<!DOCTYPE html>
<html>
<head>
<title> sample blog app </title>
</head>

<body>
<%= link_to 'Home', root_path %>

<%= image_tag('cat1.jpg', :style => "width: 400px; height 400px;") %>


</body>
</html>
