$navbar-default-bg: #EEF6F7;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #453d24;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: black;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('cat2.jpeg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: #222222;
  text-align: center;
  letter-spacing: -1px;
  font-weight: bold;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.btn-extra {
  font-size: 1.7em;
  background-color: black;
}

.article-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions {
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: right;
}
